$color-primary: #0540F2;
$color-secondary: #062158;
$color-tertiary: #000000;
$color-bg-primary: #F9F9F9;
$color-gray: #D9D9D9;
$color-white: #FFFFFF;
$color-secondary-hover: #0a1730;
$color-footer: #02122F;